* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* family=Oranienbaum&family=Roboto */

:root {
    --text: black;
    --bg: white;
    --primary: #0891b2;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 80px;
}

.diagonal-box {
    --diag-box-translate: 50vh;
    --diag-box-skew: 14deg;
    position: absolute;
    isolation: isolate;
    width: 100vw;
    height: 100vh;
    background: var(--primary);
    transform: translateY(calc(var(--diag-box-translate) * -1))
        skewY(calc(var(--diag-box-skew) * -1));
    z-index: -1;
}

header {
    padding: 40px 0;
}

.about-me {
    background: var(--bg);
    box-shadow: 4px 4px 8px grey;

    padding: 30px 60px;
}

.about-me .photo {
    /* should change with breakpoint for responsiveness */
    position: relative;
    display: flex;
    justify-content: center;
}

.about-me img {
    max-width: 350px;
    object-fit: cover;
}

.about-me .name {
    position: absolute;
    bottom: 0px;
    color: var(--bg);
    text-align: center;
    font-size: 3em;
}

.about-me .title {
    font-family: "Oranienbaum", serif;
    font-size: 3rem;
    padding: 10px 0;
}

.about-me .description {
    font-family: "Roboto", serif;
    color: hsl(from var(--text) h s 40);
    font-size: 1.2rem;
    line-height: 1.7;
    flex: 1;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 8px;
}

/* mobile */
@media (max-width: 699px) {
    .diagonal-box {
        --diag-box-skew: 28deg;
    }

    .container {
        padding: 40 40;
    }

    .about-me {
        background: none;
        box-shadow: none;
        padding: 0;
    }

    .social-links {
        justify-content: center;
    }

    img {
        height: 500px;
    }
}

/* for tablets */
@media (min-width: 700px) and (max-width: 1050px) {
    .diagonal-box {
        --diag-box-skew: 18deg;
        --diag-box-translate: 70vh;
    }

    .about-me .photo {
        float: left;
        transform-origin: bottom right;
        transform: translateX(-11%) scale(1.2);
    }

    .about-me .content {
        display: inline;
    }

    .photo .name {
        top: 0;
        transform: translate(90%, -2%);
    }

    .about-me .social-links {
        visibility: hidden;
    }
}

/* use flex for pcs */
@media (min-width: 1051px) {
    .about-me {
        display: flex;
        gap: 20px;
    }
    .about-me .content {
        display: flex;
        flex-direction: column;
    }
    .about-me .content .description {
        flex: 1;
    }
    .about-me .photo {
        padding-left: 40px;
    }
    .photo {
        transform-origin: right;
        transform: scale(1.4);
    }
}

/*main content*/

svg {
    height: 30px;
    width: 30px;
}

img {
    max-width: 200px;
}
